i.icon {
  font-size: 2em;
}

.container.main {
  margin-top: 7em;
}

.index-blog-body {
  width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#delete-blog-form {
  display: inline;
}

.show-blog-body {
  white-space: pre-wrap;
}