<h1>This is the Secret Page</h1>

<p>much secret not tell</p>

<a href="/">Go Back ye hell spawn!</a>

<ul>
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>