<% include partials/header %>
<h1>Campgrounds</h1>
<a href="/campgrounds/new">Add new Campground</a>
<% campgrounds.forEach(function(location){ %>
    <div>
    <h4><%= location["name"] %></h4>
    <img src="<%=location["image"] %>">
    </div>
<% }); %>

<% include partials/footer %>